#search {
    position: relative; /* Arama kutusunun ebeveyni olacak */
}

#search .autocom-box {
    position: absolute;
    top: 100%; /* Arama kutusunun altına yerleşecek */
    left: 0;
    width: 100%; /* Arama kutusunun genişliği kadar olacak */
    padding: 0;
    opacity: 1;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
    z-index: 1000; /* Diğer öğelerin üstünde görünmesi için */
}

#search.active .autocom-box {
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}

.autocom-box li {
    color: #fff;
    list-style: none;
    padding: 8px 12px;
    display: none;
    
    cursor: default;
    border-radius: 3px;
}

.autocom-box li:hover {
    background: #232323;
    border-radius: 10px;
    margin-right: 15px;
    width: 78%;
}

#search.active .autocom-box li {
    display: block;
}

